<h1>THIS IS OUR PRODUCTS</h1>
<a routerLink="/cart">CART</a>

<div class="list-of-products" *ngFor="let product of products; index as productId">
    <h3>
        <a [title]="product.name + 'details'" [routerLink]="['/products', productId]">{{ product.name }}</a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button (click)="share()">Share</button>

    <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
</div>
